.weekShowBtn{/*周视图和日视图的切换按钮样式*/
	float: left;
	margin-left: 20px;
	padding: 14px 0;
}
.weekShowBtn:hover{text-decoration: none;}
.weekShowBtn:active{text-decoration: none;}
.weekShowBg{
	width: 100%;
	height: 100%;
	position: fixed;
}
.weekShowBg img{
	width: 298px;
	height: auto;
	position: absolute;
	bottom: 67px;
	right: 0;
}
.weekShow{/*周视图整体样式*/
	position: absolute;
	background-color: #FFFFFF;
	display: none;
	overflow: hidden;
}
.day{/*显示周几的行的样式*/
	width: 100%;
	height: 38px;
	background-color: #f0f3fa;
	box-sizing: border-box;
}
.month{
	width: 37px;
	height: 38px;
	float: left;
	text-align: center;
	line-height: 38px;
	color: #f28619;
}
.day ul{
	width: auto;
	height: 100%;
	float: left;
}
.day ul li{/*星期几的样式*/
	width: 14.28571428%;
	height: auto;
	float: left;
	padding: 3.5px 0;
	text-align: center;
	font-size: 12px;
	color: #31b3e9;
	box-sizing: border-box;
	border-left: 1px solid #31B3E9;
	border-bottom: 1px solid #31B3E9;
}
.day ul li span{
	width: 100%;
	height: auto;
	display: inline-block;
}
.courseShowWrap{/*课程包括上课时间整体外框样式*/
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.courseShow{
	height: 100%;
}
.time{/*显示时间一栏的整体样式*/
	width: 38px;
	height: 100%;
	background-color: #f0f3fa;
	float: left;
}
.time ul{
	width: 100%;
	height: 100%;
}
.time ul li{/*每个时间和节数的样式*/
	width: 100%;
	height: 10%;
	float: left;
	box-sizing: border-box;
	border: 1px solid #31B3E9;
	position: relative;
	border-left: none;
	border-top: none;
	color: #31B3E9;
}
.time ul li:first-child{
	border-top: 1px solid #31B3E9;
}
.time ul li div span{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.time li div{
	width: 100%;
	height: 35px;
	position: relative;
	top: 50%;
	margin-top: -17.5px;
}
.time ul li div span:first-child{
	height: 17px;
	line-height: 17px;
	font-size: 12px;
}
.time ul li div span:last-child{
	height: 12px;
	line-height: 12px;
	font-size: 12px;
}
.courseDIVWrap{/*课程显示区域的外框样式*/
	width: 90%;
	height: 100%;
	float: left;
}
.courseDIVWrap li{/*每一列周几的显示列的样式*/
	width: 14.28571428%;
	height: 100%;
	float: left;
	position: relative;
}
.courseDIV{/*每节课的卡片样式*/
	width: 100%;
	height: auto;
	padding: 5px;
	box-sizing: border-box;
	background-color: rgba(25,25,25,0.5);
	border-right: 1px solid #EEEEEE;
	border-radius: 5px;
	font-size: 12px;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	opacity: 0.9;
}
.courseShowWindowWrap{/*点击卡片弹出的框的背景样式*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(25,25,25,0.3);
	z-index: 1003;
	display: none;
}
.courseShowWindow{/*点击卡片弹出的框的样式*/
	width: 80%;
	height: auto;
	position: relative;
	margin-left: -40%;
	left: 50%;
	top: 50%;
	background-color: #05A6F0;
	border-radius: 3px;
	padding: 5px;
	text-align: center;
}
